@font-face {
  font-family: "Amelia";
  src: url(../public/fonts/Amelia.ttf);
}

.App {
  text-align: center;
  background-color: black;
}

#navBar {
  display: flex;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  text-decoration: underline white;

}

.navChild {
  margin: 1vh;
  display: inline;

  font-size: 40px;
  font-family: Amelia;
  color: white;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.product img {
  width: 65%;
}

.primary {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: help;
  background-color: green;
  color: white;
}

.secondary {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: rgb(98, 0, 255);
  color: white;
}


.card {
  border-style: ridge;
  border-width: 3px;
  border-color: blue;
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 20px;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: ridge;
  border-radius: 5px;
  border-width: 5px;
  border-color: blue;
}

.about_us_paragraph {
  font-size: 25px;
  font-family: chalkduster, fantasty;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-top: solid 1px;
  color: white;
  font-family: "Amelia";
  
}

.CommentCard {
  color: red;
  font-family: arial;
  margin: auto;
}
.about {
  background-color: black;
}

.about_button {
  background-color: red
  
}